html{
    background: white ; 
}

body {
	overflow-x: hidden  ;
	margin: 0;

	}

#menu {
	display: block;
	background-color: black;
	height: 60px;
	width: 100%;
	position: relative;
	}


ul {
 list-style-type:none;
 position:fixed;
 }


li {
 float:left;
 border-left:0px solid black;
 }


ul li a {
 display:block;
 width:200px;
 line-height:60px; 
 border-top:0;
 border-left:0;
 background: black repeat-x;
 color:#DCDCDC;
 text-decoration:none;
 text-align:center;
 }

ul li a:hover {
 background:black  repeat-x;
 color:white;
 }  




 .blue {
	size:60px;

 
 }  


 .bandeautransparent{
   width:500px; 
   height:80px; 
   border-top:dotted 1px black; 
   border-bottom:dotted 1px black;
         background-color:white; 
         text-align:center; 
         opacity:0.8; 
         opacity:80;

    
}



.iconegauche {
width: 100px;
height: 100px;
border-radius: 150px;
-webkit-border-radius: 150px;
-moz-border-radius: 150px;
box-shadow: 0 0 8px white;
border:2px solid black;
}

.iconedroite {
width: 100px;
height: 100px;
border-radius: 150px;
-webkit-border-radius: 150px;
-moz-border-radius: 150px;
box-shadow: 0 0 8px white;
border:2px solid black;
}

#touslesicones {
margin:auto; height:100px; width:400px; text-align:center;
}


.programme {

 

}

.dc1{

	border: 3px #3B76F5 black;
	float:left;
	height : 90px;
	border-left:30px;

	
	



}

.dc2 {

	border: 3px #3B76F5 black;

    
   

}

.dc3 {

	border: 3px #3B76F5 black;
	float:right;
	
	
}


.dc1, .dc2, .dc3 {
	display: inline-block;
	vertical-align:top;
	


 

}

.c1{
	border: 3px #3B76F5 black;
	float:left;


}

.c2{

	border: 3px #3B76F5 black;

}

.c3{

	border: 3px #3B76F5 black;
	float:right;
	border-right:60px;  
   

}

.c1, .c2, .c3 {
	display:inline-block;


}

.g1{


}

.g2{


}

.g1, .g2 {


}




.gauche {
 color : #447AC5;
 font-size: 30;
 text-align:left; /*eloigner titre bordure*/
 margin-left:150px;
 font-family: 'Raleway', sans-serif;


}

.droite {
	color:#447AC5;
	font-size:30;
	text-align:right;
	margin-right:150px;
	font-family: 'Raleway', sans-serif;
	
	}



}

	
	



 

 p{
	color:black;
	size: 14;
	font-family:'Raleway', sans-serif;
	margin-left:20;

 }  
		






