html{
    background: white ;
}


ul{
    display: table;
    width: 500px;
    margin: 100px auto;
    padding: 15 15 15;
    background: linear-gradient(black,#004384); 
}

ul li{
    display: table-cell;
}





